@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 40px 0;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  text-transform: uppercase;
  &-list{
    display: flex;
    &__item {
      & + & {
        margin-left: 30px;
      }
    }
    &__link{
      padding: 5px;
      line-height: 1;
      display: block;
      position: relative;
      transition: all .3s;
      &::after{
        position: absolute;
        content: "";
        height: 1px;
        width: 0%;
        background-color: $--color-red;
        left: 50%;
        bottom: 0;
        transition: .4s;
      }
      &:hover{
        color: $--color-red;
        &::after {
          left: 0;
          width: 100%;
        }
      }
      &.active{
        color: $--color-red;
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
.user-nav{
  display: flex;
  &__link {
    position: relative;
    & + & {
      margin-left: 25px;
    }
  }
  &__num{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $--color-red;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    position: absolute;
    top: -9px;
    left: 14px;
  }
}

.header-slider{
  background-image: url(../images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  .container-fluid{
    padding: 0 105px 0 265px;
  }
}
.slide{
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &-content{
    width: 570px;
    padding-top: 115px;
  }
  &-title{
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 20px;
  }
  &-text{
    @extend %--ff-sf;
    max-width: 470px;
    margin-bottom: 50px;
  }
  .buy-btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 14px 35px;
    background-color: $--color-red;
    box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
    color:#fff;
    letter-spacing: 2px;
  }
}
//slick-slider
.slick-dots{
  position: absolute;
  bottom: 40px;
  left: 45%;
  transform: translateX(-50%);
  background-color: transparent;
  li{
    margin: 0px 2px 0;
    display: inline-block;
    button{
      font-size: 0;
      outline: none;
      border: none;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      transition: all .5s;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $--color-text;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s;
      }
      &:hover{
        // border: 1px solid $--color-red;
        &::after{
          background-color: $--color-red;
        }
      }
    }
  }
  .slick-active{
    button{
      border: 1px solid $--color-red;
      &::after{
        background-color: $--color-red;
      }
    }
  }
}
//slick-slider

.categoria-info{
  background-image: url(../images/categoria-bg-left.png);
  background-repeat: no-repeat;
  background-position: left;
  &__wrapper{
    background-image: url(../images/categoria-bg-right.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
.info{
  padding: 120px 0 100px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    background-image: url(../images/info-decor.png);
    width: 120px;
    height: 121px;
    top: 75px;
    left: -45px;
    z-index: -1;
  }
  &::after{
    position: absolute;
    content: "";
    background-image: url(../images/info-decor2.png);
    width: 65px;
    height: 52px;
    bottom: 80px;
    right: -20px;
    z-index: -1;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
  }
}
.info-item{
  background-color: #fff;
  box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  width: 370px;
  padding: 60px 30px;
  text-align: center;
  &__img{
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all .5s;
  }
  &__title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__text{
    @extend %--ff-sf;
  }
  &:hover img{
    transform: scale(1.1);
  }
}
.categoria{
  &-wrapper{
    display: grid;
    min-height: 636px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px 0 120px;
  }
}
.categoria-item{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 30px 40px;
  &:nth-child(1){
    grid-row: span 2;
    .categoria-item__info{
      color: #5800e4;
    }
  }
  &:nth-child(2){
    grid-column: span 2;
    .categoria-item__info{
      color: $--color-red;
    }
  }
  &:nth-child(3){
    .categoria-item__info{
      color: #ffb534;
    }
  }
  &:nth-child(4){
    .categoria-item__info{
      color: #34c3ff;
    }
  }
  &__info{
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__title{
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__link{
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    transition: all .4s;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 0px;
      height: 1px;
      background-color: $--color-red;
      right: 0;
      left: auto;
      bottom: -5px;
      transition: all .4s;
    }
  }
  &:hover{
    .categoria-item__link{
      color: $--color-red;
      &::after{
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}













.footer{
  background-color: #f5f5f5;
  @extend %--ff-sf;
  a{
    display: block; 
    width: 100%;
  }
}
.footer-top{
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__contacts{
    width: 250px;
    margin-right: 30px;
  }
  &__links{
    width: 170px;
    margin-right: 30px;
  }
  &__form{
    width: 470px;
  }

  &__adress{
    margin-top: 25px;
    margin-bottom: 10px;
  }
  &__mail{
    margin-bottom: 10px;
  }
  &__tel{
    margin-bottom: 30px;
  }
  &__title{
    @extend %--ff-roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__link {
    margin-bottom: 10px;
  }
}
.footer-social{
  &__list{
    display: flex;
  }
  &__item{
    margin-right: 20px;
  }
  &__link {
    svg path{
      fill: $--color-text;
      transition: all .3s;
    }
    &:hover{
      svg path{
        fill: $--color-red;
      }
    }
  }
}
.footer-form{
  margin-top: 25px;
  display: flex;
  &__input{
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    padding: 12px 15px;
    width: 320px;
    margin-right: 10px;
  }
  &__btn{
    background-color: $--color-red;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 140px;
    text-align: center;
    cursor: pointer;
  }
}
.footer-copy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 24px 0;
  &__list{
    display: flex;
  }
  &__item + &__item{
    margin-left: 20px;
  }
}





/* media requests */
@import 'media';